In [9]:
# Print
print(1)
print("new line")
print(1,"hello",2,3)

1
new line
1 hello 2 3

In [7]:
# Data types

# Integer
print("1 : ",type(1))

# Floating-point (decimal)
print("1.0 : ",type(1.0))

# String
print("Bisna : ",type("Bisna"))

1 :  <class 'int'>
1.0 :  <class 'float'>
Bisna :  <class 'str'>

In [6]:
# Math Operations
# +,-,/,* 
print(1+2)
print(2-1)
print(10/3)
print(2*5)

# //  -> integer division
print(10//3)

# % Modulus/Remainder
print(10%3)

# ** exponent
print(2**3)

3
1
3.3333333333333335
10
3
1
8

In [12]:
# Variable
# 1. One Word
# 2. contains only letters, numbers and underscore(_)
# 3. Can't begin with a number

name = "Bisna"
age = 23

print(name)

Bisna

In [14]:
# Taking user input
name = input("Please enter your name : ")
print("Hello, ",name)

Please enter your name : Vishnu
Hello,  Vishnu

In [20]:
# Type casting
age = 25
print(age,type(age))
age2 = str(age)
print(age2,type(age2))
age3 = float(age2)
print(age3,type(age3))

25 <class 'int'>
25 <class 'str'>
25.0 <class 'float'>

In [22]:
age = input("Please enter your age : ")
print(age,type(age))

age2 = int(input("Please enter your age : "))
print(age2,type(age2))

Please enter your age : 21
21 <class 'str'>
Please enter your age : 21
21 <class 'int'>

In [34]:
# Comparision 

# '==' Equals to
print("1 == 1",1 == 1)
print("1 == 2",1 == 2)

# '!=' Not equals to
print("1 != 1",1 != 1)
print("1 != 2",1 != 2)

# '<' Less than
print("1 < 1",1 < 1)
print("1 < 2",1 < 2)

# '>' Greater than
print("1 > 1",1 > 1)
print("3 > 2",3 > 2)

# '<=' Less than or equal to
print("1 <= 1",1 <= 1)
print("1 <= 2",1 <= 2)

# '>=' Greater than or equal to
print("1 >= 1",1 >= 1)
print("3 >= 2",3 >= 2)

1 == 1 True
1 == 2 False
1 != 1 False
1 != 2 True
1 < 1 False
1 < 2 True
1 > 1 False
3 > 2 True
1 <= 1 True
1 <= 2 True
1 >= 1 True
3 >= 2 True

In [37]:
# Boolean
# 'and' 'or' 'not'
print("(4 < 5) and (5 < 6) : ", (4 < 5) and (5 < 6))

(4 < 5) and (5 < 6) :  True

In [38]:
# Conditional Statements

In [41]:
# IF - ELSE Statement
age = int(input("Enter your age : "))
if( age > 18):
    print("You can drive")
else :
    print("You can't drive")

Enter your age : 12
You can't drive

In [44]:
# ELIF ( Else if)
mark = int(input("Enter your mark : "))

if( mark > 80 ) :
    print("You got distinction")
elif ( mark > 70) :
    print("You got first class")
elif ( mark > 60) :
    print("You got second class")
elif ( mark > 50) :
    print("You got third class")
elif ( mark > 40) :
    print("You Passed")
else :
    print("You failed")

Enter your mark : 80
You got first class

In [45]:
# Ternary condition
# expression1 if condition else expression2
age = int(input("Enter your age : "))
print("You can drive" if age > 18 else "You can't drive")

Enter your age : 23
You can drive

In [46]:
# Loops